.main{
    display: flex;
    background-color: #ffffffe5;
}
.wrapper{
    display: flex;
    background-color: #ffffffe5;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
}
.para{
    display: flex;
    flex-direction: column;
    width: 60%;

}
.main-wrapper{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}