.main{
    display: flex;
    background-image: url(Third.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.wrapper{
    display: flex;
    background-color: #ffffffe5;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
}
.para{
    display: flex;
    flex-direction: column;
    width: 60%;
    color:rgb(8, 7, 63);
    font-size: 25px;

}
.main-wrapper{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

